:root {
    --text: #f4f4e1;
    --background: #0e0f0a;
    --primary: #303e23;
    --secondary: #b7b856;
    --accent: #ab9f2b;
    --lighter-bg: #191a14;
    --hover-bg: #7b8247;
    --lightest-bg: #262723;
    --shadow: #00000066;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 8px;
    background: var(--background);
    color: var(--text);
}